.wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 0 12px 5px 0;
  background: white;
  padding-left: 15px;

  &:first-child {
    margin-top: 8px;
  }
}

.deleteContainer {
  margin-left: auto;
  display: flex;
  padding-left: 8px;
  background: var(--paper-color);

  button {
    height: 34px !important;

    span {
      font-size: 14px;
    }
  }

  .deleteButton {
    background-color: #ab3b3b;
    color: white;

    &:hover {
      background-color: #7d2a2a;
    }
  }
}
