.wrapper {
  max-width: calc(100% - 5.3125em);
  z-index: 2;
  position: relative;
  background-color: var(--paper-color);
  display: flex;
  box-sizing: border-box;
  height: calc(100vh - 2.5em);
  padding: 0.3125em;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.67);
  justify-content: center;
  align-items: center;
}

.skCubeGrid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.skCube {
  width: 33%;
  height: 33%;
  background-color: var(--classic-blue);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.skCube1 {
  composes: skCube;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.skCube2 {
  composes: skCube;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.skCube3 {
  composes: skCube;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.skCube4 {
  composes: skCube;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.skCube5 {
  composes: skCube;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.skCube6 {
  composes: skCube;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.skCube7 {
  composes: skCube;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.skCube8 {
  composes: skCube;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.skCube9 {
  composes: skCube;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
